<script lang="ts">
import { defineComponent, nextTick, ref } from 'vue'

type Gender = 'male' | 'female' | 'others'
type Role = 'admin' | 'user'
type User = {
  id: number
  email: string
  password: string
  fullName: string
  gender: Gender
  roles: Role[]
}

type TableColumn = {
  title: string
  key: string
}

export default defineComponent({
  name: 'YourComponentName',
  setup() {
    const form = ref(false)
    const dialog = ref(false)
    const loading = ref(false)
    const initialUser: User = {
      id: -1,
      email: '',
      password: '',
      fullName: '',
      gender: 'male',
      roles: ['user']
    }
    const editedUser = ref<User>(JSON.parse(JSON.stringify(initialUser)))
    const users = ref<User[]>([
      {
        id: 1,
        email: 'admin',
        password: 'pass@Word123',
        fullName: 'Admin',
        gender: 'male',
        roles: ['admin', 'user']
      },
      {
        id: 2,
        email: 'user1',
        password: 'pass@Word123',
        fullName: 'User1',
        gender: 'female',
        roles: ['user']
      },
      {
        id: 3,
        email: 'user2',
        password: 'pass@Word123',
        fullName: 'User2',
        gender: 'male',
        roles: ['user']
      }
    ])

    const headers: TableColumn[] = [
      { title: 'ID', key: 'id' },
      { title: 'Email', key: 'email' },
      { title: 'Full Name', key: 'fullName' },
      { title: 'Gender', key: 'gender' },
      { title: 'Roles', key: 'roles' }
    ]

    let editedIndex = -1

    function openDialog(index: number) {
      if (index === -1) {
        // Adding new user
        editedUser.value = { ...initialUser }
      } else {
        // Editing existing user
        editedIndex = index
        editedUser.value = { ...users.value[index] }
      }
      dialog.value = true
    }

    function saveUser() {
      if (editedIndex === -1) {
        // Adding new user
        users.value.push({ ...editedUser.value, id: users.value.length + 1 })
      } else {
        // Editing existing user
        users.value[editedIndex] = { ...editedUser.value }
      }
      closeDialog()
    }

    function closeDialog() {
      dialog.value = false
      nextTick(() => {
        editedUser.value = { ...initialUser }
      })
    }

    return {
      users,
      headers,
      form,
      loading,
      editedUser,
      openDialog,
      saveUser,
      dialog
    }
  }
})
</script>

<template>
  <div>
    <!-- Display Data Table -->
    <v-data-table :items="users" :headers="headers">
      <template v-slot:item.actions="{ index }">
        <v-icon @click="openDialog(index)">mdi-pencil</v-icon>
        <v-icon @click="openDeleteDialog(index)">mdi-delete</v-icon>
      </template>
    </v-data-table>

    <!-- Edit / Add Dialog -->
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">
          {{ editedIndex === -1 ? 'Add User' : 'Edit User' }}
        </v-card-title>
        <v-card-text>
          <!-- Form fields for editing/adding -->
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue-darken-1" variant="text" @click="closeDialog">Cancel</v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="saveUser">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Confirmation Dialog -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
        <v-card-actions>
          <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
